html,
body {
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
  color: #ccc;
  background-color: #151515;
}

h1 {
  display: inline-block;
  font-size: 100px;
}

h2 {
  display: inline-block;
  font-size: 100px;
  color: #666;
}

h3 {
  font-size: 50px;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
